<body style = "background-color:Skyblue;">
<h1>Hello there! </h1>
<h2>What's your name? </h2>
<form action="/info" method="post">
    <input type="text" name="name" />
<h2>When's your birthday? </h2>
  <label for="day:">
    day:
  <input type="number" name="day" />
  <label for="month">
    month:
  <input type="month" name="month" />
  </label>
  <input type="submit" value="Go">
</form>

</body>
