<body style = "background-color:Skyblue;">
<h1>Hello there! </h1>
<h2>What's your name? </h2>
<form action="/info" method="post">
    <input type="text" name="name" />
<h2>When's your birthday? </h2>
  <label for="day:">
    day:
  <input type="number" name="day" />
    month: <select name="month">
            <option value = "01">January</option>
            <option value = "02">February</option>
            <option value = "03">March</option>
            <option value = "04">April</option>
            <option value = "05">May</option>
            <option value = "06">June</option>
            <option value = "07">July</option>
            <option value = "08">August</option>
            <option value = "09">September</option>
            <option value = "10">October</option>
            <option value = "11">November</option>
            <option value = "12">December</option>
            </select>
    <br>
    <input type="submit" value="Go">
</form>

</body>
